    [mysqld]
    server-id = 2
    log-bin = /var/lib/mysql/mysql-bin.log
    expire_logs_days               = 2
    binlog_format = MIXED

    skip_name_resolve              = 1
    max_connections                = 100
    max_allowed_packet             = 268435456
    sql-mode="NO_ENGINE_SUBSTITUTION"
    key_buffer_size                = 128K
    sort_buffer_size = 1M
    read_buffer_size = 1M
    join_buffer_size                = 256K
    max_heap_table_size            = 32M
    performance_schema             = ON
    innodb_buffer_pool_size        = 4G
    innodb_flush_log_at_trx_commit = 1
    innodb_log_file_size           = 1G
    table_definition_cache         = 500
    event_scheduler=on